*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}
body {
  background-color: #e4e4e4;
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  height: 100vh;
}
.container > .all-Lists {
  flex-basis: 20%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container > .todo-list-container {
  flex-basis: 80%;
  margin: 10px;
  padding: 60px;
  border-radius: 10px;
  background-color: rgb(247, 247, 247);
  border: 2px solid white;
}
.todo-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.task-list {
  list-style: none;
}
.task-item {
  display: flex;
  align-items: center;
  margin-block: 10px;
  font-weight: 600;
  font-size: 0.85rem;
  gap: 10px;
  color: rgb(109, 108, 108);
  cursor: pointer;
}
.task-item > *:last-child {
  flex-grow: 1;
  text-align: end;
}
.task-item:hover {
  color: black;
}

.active-list {
  color: black;
  font-weight: 700;
}

.todo-header {
  display: flex;
  gap: 20px;
  align-items: center;
}
.icon {
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}
.icon:hover {
  transform: scale(1.1);
}

.todo-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tasks > .task {
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: currentColor;
  opacity: 70%;
  display: flex;
  justify-content: space-between;
}
.tasks > .task:hover {
  background-color: rgb(240, 240, 240);
}

.task label {
  cursor: pointer;
  align-items: center;
}

[type="checkbox"] {
  opacity: 0;
  position: absolute;
}
.custom-checkbox {
  --size: 0.75em;
  width: var(--size);
  height: var(--size);
  display: inline-block;
  border: 2px solid currentColor;
  opacity: 50%;
  border-radius: 50%;
  margin-inline: var(--size);
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}

.task:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox {
  transform: scale(1.1);
}

[type="checkbox"]:checked + label .custom-checkbox {
  background-color: currentColor;
  opacity: 50%;
  border-color: currentColor;
  box-shadow: inset 0 0 0px 2px white;
}
[type="checkbox"]:checked + label {
  opacity: 50%;
}

form {
  display: flex;
  gap: 10px;
}

.btn {
  outline: none;
  border: none;
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
}
.new {
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  background-color: transparent;
  order: 2;
}
.new:focus {
  border-bottom-width: 2px;
}
.new:focus::placeholder {
  opacity: 0.2;
}

.btn.list {
  font-size: 1rem;
}
.btn.task {
  font-size: 1.5rem;
}
.new.task {
  width: 100%;
  font-size: 1.2rem;
}
